#defaultNumInput{
  width:40px;
  height:40px;
  position:relative;
  top:-15px;
  border: 1px solid #cdcdcd;
}
#codeInput{
  width:190px;
}
#controls{
	width:420px;
	text-align:center;
}
#svg{
	position:relative;
}
#popupDiv{
	padding-top:50px;
	padding-left:10px:
	padding-right:10px;
	padding-bottom:50px;
	display:none;
	top:0;
	left:0;
	width:470px;
	height:330px;
	position:absolute;
	background-color:rgba(255,255,255,0.8);
	text-align:center;
	vertical-align:middle;
}

#boardDiv{
	position:relative;
}

body{
	width:470px;
	height:470px;
	position:relative;
	transform-origin: 0 0;
	
	-webkit-transform-origin: 0 0;
}
